@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS VARIABLES */
:root {
  /* COLORS */
  --primary-color-1: #dc2626;
  --color-txt: #cbd5e1;
  --primary-color-2: #fff7ed;
  --color-black: #030712;
  --color-shadow: #0f172a;
}

/* media-queries */
/* GLOBAL SETTINGS */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (max-width: 43.75em) {
  html {
    font-size: 31.25%;
  }
}

body {
  min-height: 100vh;
  background-color: var(--primary-color-2);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 43.75em) {
  body {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.date {
  width: 55vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), linear-gradient(rgba(253, 27, 27, 0.99), rgba(253, 27, 27, 0.99));
  transform: skew(-45deg);
  color: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}
@media only screen and (max-width: 43.75em) {
  .date {
    width: 100vw;
    height: 30vh;
    transform: skew(0);
    justify-content: end;
  }
}
.date__inner {
  transform: skew(45deg);
  margin-left: 50%;
  margin-top: -40%;
}
@media only screen and (max-width: 43.75em) {
  .date__inner {
    transform: skew(0);
    margin: 0;
    text-align: center;
  }
}
.date__day {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05rem;
}
.date__month {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.clock {
  margin-bottom: -20rem;
}
.clock__outer {
  width: 25rem;
  height: 25rem;
  border-radius: 50rem;
  background: conic-gradient(var(--primary-color-1) 216deg, var(--primary-color-2) 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock__inner {
  width: 22rem;
  height: 22rem;
  border-radius: 50rem;
  background: conic-gradient(rgba(0, 0, 0, 0.708) 150deg, #fff7ed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock__time {
  width: 19rem;
  height: 19rem;
  border-radius: 50rem;
  background: conic-gradient(var(--primary-color-1) 320deg, #fff7ed 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock__time::before {
  position: absolute;
  content: "";
  width: 16rem;
  height: 16rem;
  border-radius: 50rem;
  background-color: var(--primary-color-2);
}
.clock__time--outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clock__time--inner {
  z-index: 10;
  font-size: 5rem;
  font-weight: 600;
  color: var(--primary-color-1);
  display: flex;
}
.clock__time--merid {
  z-index: 10;
  font-size: 2rem;
  color: var(--primary-color-1);
}

/*# sourceMappingURL=style.css.map */
