@use "./base.scss" as var1;

ion-icon {
  font-size: 20px;
}
h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--primary-color-1);
  margin-bottom: 2rem;
  @media only screen and (max-width: var1.$bp-xsmall) {
    margin-bottom: 1rem;
  }
}
.container {
  max-width: 70rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  display: flex;
  padding: 2rem;
  column-gap: 2rem;
  margin: 2rem;

  @media only screen and (max-width: var1.$bp-xsmall) {
    flex-direction: column;
    row-gap: 4rem;
    margin: 0 3rem;
    border-radius: 1.5rem;
  }
}
.headings {
  font-size: 1.5rem;
  color: var(--color-heading);
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

// LEFT PART
.bill {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  &__inputs {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--color-bg-1);
    color: var(--primary-color-1);
    border-radius: 0.3rem;
    text-align: right;
    &:focus {
      outline-color: var(--primary-color-1);
    }
  }

  &__middle {
    &--tips {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: start;
      align-items: start;
      &-tip {
        border: none;
        padding: 0.7rem 2.5rem;
        border-radius: 0.3rem;
        font-size: 1.5rem;
        background-color: var(--primary-color-1);
        color: var(--color-txt);
        font-weight: 500;
        flex: 1;
        transition: all 0.3s;
        @media only screen and (max-width: var1.$bp-xsmall) {
          flex: 0;
        }
        &:hover {
          cursor: pointer;
          background-color: var(--color-bg-1);
          color: var(--primary-color-1);
        }
        &:last-child {
          font-size: 1.2rem;
          padding: 0.89rem 2.7rem;
          background-color: var(--color-bg-1);
          color: var(--color-heading);
          flex-grow: 0;

          &:hover {
            background-color: var(--primary-color-1);
            color: var(--color-txt);
          }
        }
      }
    }
  }
  .btnSelected {
    background-color: var(--color-bg-1);
    color: var(--primary-color-1);
  }

  &__bottom {
    &--calc.bill__middle--tips-tip {
      font-size: 1.5rem;
      margin: 2rem 0 1rem 0;
      width: 100%;
      background-color: var(--primary-color-1);
      color: var(--color-txt);
      transition: all 0.3s;
      &.reset {
        background-color: var(--color-bg-1);
        color: var(--color-heading);
        &:hover {
          cursor: pointer;
          background-color: var(--primary-color-1);
          color: var(--color-txt);
        }
      }
      &:hover {
        cursor: pointer;
        background-color: var(--color-bg-1);
        color: var(--primary-color-1);
      }
    }
  }
}

// RIGHT PART
.amount {
  flex: 1;
  padding: 4rem;
  background-color: var(--primary-color-1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media only screen and (max-width: var1.$bp-xsmall) {
    padding: 2rem;
  }
  &__tip-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__part1 {
      &--head {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--color-white);
      }
      &--text {
        font-size: 1.5rem;
        color: var(--secondary-color-2);
      }
    }
    &__part2 {
      font-size: 2.4rem;
      color: var(--secondary-color-2);
      font-weight: 600;
    }
    &:last-child {
      margin-top: auto;
    }
  }
}
